.container{
    position: relative;

    width: 100%;
    max-width: 1230px;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -80px;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;

    color: var(--grey);

    line-height: 1.5;
}

.highlight{
    font-weight: bold;
    color: var(--primary);
}

.emphasys{
    font-weight: bold;
}

.marginHorizontal{
    margin-top: 50px;
    margin-bottom: 20px;
}

.infos{
    max-width: 580px;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.imageWrapper{
    margin-right: -50px;

    pointer-events: none;
}

@media screen and ( max-width: 1300px) {
    .container{    
        padding: 0 50px;
    }
}

@media screen and ( max-width: 1100px) {
    .row{
        flex-direction: column;
    }

    .imageWrapper {
        max-width: 450px;
        margin: 0 auto;
        height: 500px;
        z-index: 2;
    }

    .infos{
        max-width: unset;
        text-align: justify;
        margin-bottom: 30px;
    }
}