.container {
    position: fixed;

    z-index: -1;

    height: 100vh;
    width: 100vw;

    padding: 0 50px;

    background-color: var(--lighter);
}

.mainWrapper {
    height: 100%;
    width: 100%;
    max-width: 1230px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: -80px;
}

.imgContainer {
    max-width: 734px;
    margin-right: -98px;
}

@media screen and (max-width: 1100px) {
    .container {    
        padding: 0;
    }

    .mainWrapper {
        justify-content: space-between;
        width: calc(100% - 50px);

        padding: 100px 50px;
    }    

    .imgContainer {
        z-index: -1;

        max-width: 334px;
        margin-right: 0;
    }
}

@media screen and (max-width: 750px) {
    .mainWrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
    }

    .imgContainer {
        max-width: 300px;
        margin: 0 auto;
        margin-top: -25%;
    }
}

@media screen and (max-width: 550px) {
    .mainWrapper {
        padding: 100px 20px;
    }  

    .imgContainer {
        margin-top: -30%;
    }
}

@media screen and (max-width: 450px) {
    .imgContainer {
        margin-top: -45%;
    }
}