.subtitle{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    font-family: 'Alfa Slab One', sans-serif;

    font-size: 2.75rem;
    color: var(--primary);

    width: 100%;
}

.subtitle::after {
    content: "";

    display: block;
    flex: 1;

    height: 5px;

    margin-left: 10px;
    margin-bottom: 5px;

    background-color: var(--black);
}